{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    // "@typescript-eslint",
    // "import",
    "prettier"
  ],
  // "parserOptions": {
  //   "project": "./tsconfig.json",
  //   "tsconfigRootDir": ".",
  //   "ecmaVersion": 2019, // Allows for the parsing of modern ECMAScript features
  //   "sourceType": "module"
  // },
  // "extends": [
  //   "plugin:@typescript-eslint/recommended"
  // ],
  "rules": {
    // "@typescript-eslint/no-var-requires": "off",
    "prettier/prettier": "error"
  }
}
